html {
    height: 100%;
    width: 100%;
  }
  
  h1 {
    color: green;
  }

  .blue {
    color: blue;
  }

  #red {
    color: red;
  }

  img {
    width: 200px;
    height: auto;
  }

  #miH5 {
    cursor: pointer;
    font-size: 40px;
  }